@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import 'paymentlist';

:root {
  --body: #f8f9fa;
  --content: white;
  --alt-content: var(--body);
  --content-light: #edf1ef;
  --content-lighter: #dedede;
  --content-darker: ghostwhite;
  --disabled-content: rgba(0, 0, 0, 0.05);
  --text: #444444;
  --text-secondary: #575757;
  --link-active: var(--content-light);
  --text-secondary: #4c4c4c;
  --theme: #457461;
  --overlay-color: rgba(0, 0, 0, 0.05);
  --negative: #ff2d55;
  --border: #dedede;
  --anchor: #007aff;
  --scrollbar: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #16161a;
    --content: #1f1e24;
    --content-darker: #1d1c22;
    --content-light: #2e2d32;
    --content-lighter: #4c4b53;
    --alt-content: rgba(255, 255, 255, 0.05);
    --disabled-content: rgba(255, 255, 255, 0.01);
    --text: #fff;
    --text-secondary: #898696;
    --overlay-color: rgba(255, 255, 255, 0.05);
    --negative: rgb(255, 69, 58);
    --border: var(--content-light);
    --anchor: #5ac8fa;
    --scrollbar: var(--content-light);
  }

  input {
    color-scheme: dark;
  }
}

body {
  background: var(--body);
  color: var(--text);
  word-break: break-word;
}

html,
input {
  font-family: 'Inter', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  min-height: calc(100vh - env(safe-area-inset-bottom) - 80px);
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: env(safe-area-inset-top);
  background: var(--body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--content);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar, var(--content-lighter));

  &:active {
    background-color: var(--content-lighter);
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

[sidebaropen='true'] {
  overflow-y: hidden;
}
